In [1]:
import pandas as pd
import os
import requests

In [2]:
store = pd.read_json("data/walmart.json")
store.head()

,id,storeType,timeZone,openDate,name,postalCode,address1,city,state,country,latitude,longitude,phone_number
0,6601,3,K,01/04/1994 12:00,Sam's Club,99515,8801 Old Seward Hwy,Anchorage,AK,US,61.140770,-149.860016,(907) 522-2333
1,6602,3,K,01/06/1994 12:00,Sam's Club,99504,1074 N. Muldoon Road,Anchorage,AK,US,61.231079,-149.740844,(907) 276-2996
2,2074,1,K,03/29/1994 12:00,Walmart Supercenter,99654,1350 S Seward Meridian Pkwy,Wasilla,AK,US,61.568752,-149.363647,(907) 376-9780
3,2070,1,K,03/29/1994 12:00,Walmart Supercenter,99503,3101 A St,Anchorage,AK,US,61.192337,-149.880356,(907) 563-5900
4,6603,3,K,01/08/1994 12:00,Sam's Club,99701,48 College Rd,Fairbanks,AK,US,64.852867,-147.707336,(907) 451-4800

In [3]:
store = store.loc[(store["storeType"]==1) | (store["storeType"]==2)]
storeLocation = store[['openDate','name','address1','city','state', 'latitude', 'longitude']]
storeLocation.head()

,openDate,name,address1,city,state,latitude,longitude
2,03/29/1994 12:00,Walmart Supercenter,1350 S Seward Meridian Pkwy,Wasilla,AK,61.568752,-149.363647
3,03/29/1994 12:00,Walmart Supercenter,3101 A St,Anchorage,AK,61.192337,-149.880356
5,03/29/1994 12:00,Walmart Supercenter,8900 Old Seward Hwy,Anchorage,AK,61.140263,-149.868835
6,04/26/2000 12:00,Walmart Supercenter,18600 Eagle River Rd,Eagle River,AK,61.309483,-149.534912
7,09/12/2007 12:00,Walmart Supercenter,6525 Glacier Hwy,Juneau,AK,58.358349,-134.514862

In [4]:
storeLocation.to_csv('data/storeLocation.csv', index=False)

In [5]:
location = pd.read_csv('data/storelocation.csv')
location.head()

,openDate,name,address1,city,state,latitude,longitude
0,03/29/1994 12:00,Walmart Supercenter,1350 S Seward Meridian Pkwy,Wasilla,AK,61.568752,-149.363647
1,03/29/1994 12:00,Walmart Supercenter,3101 A St,Anchorage,AK,61.192337,-149.880356
2,03/29/1994 12:00,Walmart Supercenter,8900 Old Seward Hwy,Anchorage,AK,61.140263,-149.868835
3,04/26/2000 12:00,Walmart Supercenter,18600 Eagle River Rd,Eagle River,AK,61.309483,-149.534912
4,09/12/2007 12:00,Walmart Supercenter,6525 Glacier Hwy,Juneau,AK,58.358349,-134.514862