In [3]:
#!pip install ipython-sql

Collecting ipython-sql
  Using cached ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Collecting prettytable<1
  Using cached prettytable-0.7.2.tar.bz2 (21 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\mayla\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\mayla\anaconda3\lib\site-packages (from ipython-sql) (1.3.18)
Requirement already satisfied: ipython>=1.0 in c:\users\mayla\anaconda3\lib\site-packages (from ipython-sql) (7.16.1)
Requirement already satisfied: six in c:\users\mayla\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Collecting sqlparse
  Using cached sqlparse-0.4.1-py3-none-any.whl (42 kB)
Requirement already satisfied: traitlets>=4.2 in c:\users\mayla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: backcall in c:\users\mayla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\mayla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\mayla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.3)
Requirement already satisfied: pygments in c:\users\mayla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\mayla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.5)
Requirement already satisfied: decorator in c:\users\mayla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\mayla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (49.2.0.post20200714)
Requirement already satisfied: jedi>=0.10 in c:\users\mayla\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: wcwidth in c:\users\mayla\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\mayla\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13704 sha256=9bfaecaf40d8dc066d3b7149b6b08040a0631254f3df652db3c8fdf71bff5512
  Stored in directory: c:\users\mayla\appdata\local\pip\cache\wheels\46\60\6c\bb25d05df22906786206e901e9354bb3061061191116768bee
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1

In [ ]:
#!pip install psycopg2

In [9]:
import pandas as pd
import os

import requests
import sqlalchemy
from sqlalchemy import create_engine

In [11]:
%reload_ext sql

In [12]:
%sql postgres://ofiglsqd:vVojrG9_zzJZCOLXz8rhKWXk6ivvYqAe@otto.db.elephantsql.com:5432/ofiglsqd

In [13]:
engine = create_engine('postgres://ofiglsqd:vVojrG9_zzJZCOLXz8rhKWXk6ivvYqAe@otto.db.elephantsql.com:5432/ofiglsqd')

In [19]:
%%sql 
SELECT * FROM store LIMIT 10

 * postgres://ofiglsqd:***@otto.db.elephantsql.com:5432/ofiglsqd
10 rows affected.

[(2074, 1, '1350 S Seward Meridian Pkwy', 'Wasilla', 61.568752, -149.36364699, '02'),
 (2070, 1, '3101 A St', 'Anchorage', 61.192337, -149.880356, '02'),
 (2071, 1, '8900 Old Seward Hwy', 'Anchorage', 61.14026299, -149.86883499, '02'),
 (2188, 1, '18600 Eagle River Rd', 'Eagle River', 61.30948257, -149.5349121, '02'),
 (3814, 1, '6525 Glacier Hwy', 'Juneau', 58.35834899, -134.51486199, '02'),
 (4474, 1, '10096 Kenai Spur Hwy', 'Kenai', 60.56447599, -151.22390699, '02'),
 (2722, 1, '537 Johansen Expy', 'Fairbanks', 64.85687299, -147.68959, '02'),
 (4359, 2, '7405 Debarr Road', 'Anchorage', 61.21075799, -149.74301099, '02'),
 (2711, 2, '2911 Mill Bay Rd', 'Kodiak', 57.81175994, -152.36482238, '02'),
 (2710, 2, '4230 Don King Rd', 'Ketchikan', 55.37592699, -131.720535, '02')]