In [7]:
from datetime import datetime, timedelta
import os
import pandas as pd
import requests
from sqlalchemy import create_engine
%run config.ipynb

In [8]:
stock = pd.read_csv('assets/data/WMT.csv')
stock.head()

         Date      Open      High       Low     Close  Adj Close   Volume
0  1972-08-25  0.063477  0.064697  0.063477  0.064453   0.023123  2508800
1  1972-08-28  0.064453  0.064941  0.064209  0.064209   0.023035   972800
2  1972-08-29  0.063965  0.063965  0.063477  0.063477   0.022772  1945600
3  1972-08-30  0.063477  0.063477  0.062988  0.063477   0.022772   409600
4  1972-08-31  0.062988  0.062988  0.062500  0.062500   0.022422   870400

In [9]:
Color=[]
Difference=[]
for i in range(len(stock)):
    Difference.append(stock["Close"][i]-stock["Open"][i])
    if Difference[i]>=0:
        Color.append("#8b0000")
    
    elif Difference[i]<0:
        Color.append("#006400")
stock["Difference"]=Difference
stock["Color"]=Color
stock.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Difference,Color
0,1972-08-25,0.063477,0.064697,0.063477,0.064453,0.023123,2508800,0.000976,#8b0000
1,1972-08-28,0.064453,0.064941,0.064209,0.064209,0.023035,972800,-0.000244,#006400
2,1972-08-29,0.063965,0.063965,0.063477,0.063477,0.022772,1945600,-0.000488,#006400
3,1972-08-30,0.063477,0.063477,0.062988,0.063477,0.022772,409600,0.000000,#8b0000
4,1972-08-31,0.062988,0.062988,0.062500,0.062500,0.022422,870400,-0.000488,#006400

In [11]:
stock_df = stock.loc[stock['Date'] >="2000-01-01", :]
stock_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Difference,Color
6910,2000-01-03,68.375,69.0000,65.5000,66.8125,45.566273,8369900,-1.5625,#006400
6911,2000-01-04,65.500,65.8125,64.1875,64.3125,43.861279,6745100,-1.1875,#006400
6912,2000-01-05,63.875,64.3750,62.1875,63.0000,42.966141,7018700,-0.8750,#006400
6913,2000-01-06,63.000,64.5625,62.6875,63.6875,43.435013,6544500,0.6875,#8b0000
6914,2000-01-07,64.500,68.9375,64.5000,68.5000,46.717155,7976900,4.0000,#8b0000

In [13]:
moving_avg= stock_df['Difference'].rolling(window=180).mean()
stock_df["MovingAvg"]=moving_avg
stock_df.head()

<ipython-input-13-7f1b8a86812a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_df["MovingAvg"]=moving_avg

,Date,Open,High,Low,Close,Adj Close,Volume,Difference,Color,MovingAvg
6910,2000-01-03,68.375,69.0000,65.5000,66.8125,45.566273,8369900,-1.5625,#006400,NaN
6911,2000-01-04,65.500,65.8125,64.1875,64.3125,43.861279,6745100,-1.1875,#006400,NaN
6912,2000-01-05,63.875,64.3750,62.1875,63.0000,42.966141,7018700,-0.8750,#006400,NaN
6913,2000-01-06,63.000,64.5625,62.6875,63.6875,43.435013,6544500,0.6875,#8b0000,NaN
6914,2000-01-07,64.500,68.9375,64.5000,68.5000,46.717155,7976900,4.0000,#8b0000,NaN

In [15]:
outputfile = "WalmartStock.csv"
stock_df.to_csv(outputfile, header = True, index=False)

In [16]:
import psycopg2

engine=create_engine(f"postgres:{connection_string}")

In [17]:
stock_df.to_sql(name="stock", con=engine, if_exists='append', index=False)

In [18]:
engine.execute('ALTER TABLE "stock" ADD PRIMARY KEY ("Date")')